body{
  text-rendering: optimizeLegibility;
  font-family: Arial,Helvetica Neue,Helvetica,sans-serif;
}

saucy-cv{

  margin-left:2em;
  margin-right:2em;
  display:table;
}
saucy-cv-sub-section{
  margin-left:2em;
  display:block;
}
saucy-cv-entry{
  display:block;
  /*background-color:lightblue;*/
  /*margin-bottom:20px;*/
  /*padding-bottom:5px;*/

}
.saucy-details-column{
  display:table-cell;
}
.saucy-time-column{
  margin-top:0.15em;

  padding-left:1.5em;
  width:5em;

  white-space:nowrap;
  font-size:0.8em;
  vertical-align:top;
  font-weight:bold;
  display:table-cell;

}

saucy-seen{
  color:green;
}
saucy-seen::before{
  content:"✔";
}
saucy-cv-header, saucy-cv-header2, saucy-cv-header3{
  /*margin-bottom:-0.2em;*/
  display:block;
}
saucy-cv-header{
  padding-top:0.5em;
  font-size:1.5em;
}
saucy-cv-header2{
  font-size:1.3em;
}
saucy-cv-header3{
  font-size:1.2em;
}
div.category-container /*make saucy-cv-tags*/
{
  margin-left:auto;
  margin-right:auto;

  width:45em;
  margin-bottom:1.5em;
}
div.container/*make saucy-cv-output*/
{
  /*background-color:rgba(211, 215, 218, 0.34);*/
  box-shadow:1px 3px 5px #000000;
  margin-left:0.05em;
  margin-right:0.05em;
  padding-bottom:1em;
  min-height:3em;
  padding-left:0.5em;
  padding-right:0.5em;

  -moz-transition: width 1s ease-in-out, left 1.5s ease-in-out;
    -webkit-transition: width 1s ease-in-out, left 1.5s ease-in-out;
    -moz-transition: width 1s ease-in-out, left 1.5s ease-in-out;
    -o-transition: width 1s ease-in-out, left 1.5s ease-in-out;
    transition: width 1s ease-in-out, left 1.5s ease-in-out;
  /*width:100%*/
}
.menu{
  /*width:100%;
  height:3em;
  margin-bottom:0.5em;
  background-color: #333333;*/
}
.title{
  display:block;
  /*margin-bottom:20px;*/
  text-align:center;

  font-size:250%;
  padding-bottom:5px;
}
.title-dark-container{
  background-color:#122D3F;
  width:100%;
  /*height:6em;*/
  padding-top:1em;
  padding-bottom:1em;
}
.title-dark-container > .title{
  /*background-color:red;*/
  color:white;
  width:100%;
}
button.simple-button{
  /*background-clip: border-box;*/
  background-color: #1F8DD6;
  /*background-image: linear-gradient(transparent, rgba(0, 0, 0, 0.05) 40%, rgba(0, 0, 0, 0.1));*/
  border-style:none;

  color:#FFF;
  font-family: "proxima-nova",sans-serif;
  font-size: 20px;
  line-height: 25px;

  margin: 5px 5px 5px 5px;

  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  text-align: center;
  text-decoration: none;
  vertical-align: baseline;
  white-space: nowrap;
  cursor: pointer;
}
button.simple-button:hover, button.simple-button:focus {
  /*background-color:red;*/
    background-image: linear-gradient(transparent, rgba(0, 0, 0, 0.05) 40%, rgba(0, 0, 0, 0.1));


}
button.simple-button:focus{
background-color: #1F8DD6;
/*background-image: linear-gradient(transparent, rgba(0, 0, 0, 0.05) 40%, rgba(0, 0, 0, 0.1));*/
border-style:solid;

}
